@import "~bootstrap/scss/bootstrap";

#map {
  min-height: 100vh;
  background-image: url('../public/images/5hotel-map.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
